/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 80%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* !! Font/Color !! */
html,
body {
  background-color: #ffffff !important;
  font-family: "Roboto", Arial, sans-serif !important;
}

/* !! HomePage !! */
.home-page {
  text-align: center;
}

/* !! NavBar !! */
.nav {
  background-color: #98a4af !important;
}
.nav .b {
  color: white !important;
  padding-left: 7rem;
  font-size: 1.7rem;
}
.nav .navbar-toggler {
  border-color: transparent !important;
  margin-right: 7rem;
}
.nav .navbar-toggler-icon {
  background-image: url("../DesignFiles/img/nav-hamburger.png") !important;
}

/* !! Header !! */
.jumbotron {
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
  color: white;
}
.jumbotron .jumboImg {
  width: 100% !important;
  height: 92vh;
  object-fit: cover;
  position: absolute;
  transform: translate(-50%);
}
.jumbotron .floated-text {
  width: 80%;
  text-align: left;
  position: absolute;
  float: left;
  margin-top: 30rem;
  left: 5%;
}
.jumbotron .floated-text .hFont {
  font-size: 500%;
}

/* Container */
.container-1 {
  height: 100vh;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.row {
  max-width: 100%;
}

/* HomePage Styles */
.main {
  margin-top: 4rem;
}
.main .text1 {
  margin-top: 5.5rem;
}
.main .img1 {
  width: 90%;
}
.main .m-top {
  margin-top: 2rem;
}

.style2,
.style3 {
  margin-top: 8rem;
}

.img3 {
  margin-top: 3rem;
  width: 100%;
  position: absolute;
}

.float-me-right {
  background: lightgray;
  border: 10px solid lightgray;
  position: absolute;
  left: 75rem;
  top: 26rem;
  padding: 30px;
}

.float-me-left {
  background: lightgray;
  border: 10px solid lightgray;
  position: absolute;
  top: 26rem;
  padding: 30px;
}

.row-height-1 {
  height: 60vh;
}

#three {
  height: 100vh;
}

.low-text-main {
  padding-bottom: 30px;
}

/* Footer */
.container-foot {
  margin-top: 10rem;
  height: 20rem;
  background: lightgray;
}
.container-foot .foot-talk {
  padding-top: 5rem;
}

.footer-col {
  margin-right: 4rem !important;
}

.copyright {
  text-align: center;
}

/* Contact Section */
.contact-jumbo {
  position: absolute;
  width: 100%;
  height: 30vh !important;
}

.contact-jumbo-contain {
  height: 30vh;
}

.contact-float {
  position: absolute;
  float: left;
}
.contact-float .c-Font {
  font-size: 5rem;
  padding-top: 11.5rem;
  margin-left: 11rem;
}

.contact-container {
  margin-top: 3rem;
  margin-bottom: -8rem;
}

.contact-text-touch {
  padding-bottom: 3rem;
}

.we-work-here {
  margin-top: 3rem;
}

/* Services Section */
.service-col-tabs {
  width: 20% !important;
}

.align-col {
  display: flex;
  flex-direction: row;
}

.service-text-touch {
  text-align: center;
  margin-right: 6rem;
  margin-top: 3rem;
  border: 1px solid black;
  padding: 10px;
}

.service-top-text {
  margin-top: 3rem;
}

.services-image-two {
  margin-top: 6rem;
  padding-left: 10rem;
  width: 70%;
}

.service-container {
  margin-top: 3rem;
  margin-bottom: -3rem;
}

/*# sourceMappingURL=index.css.map */
